@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');


@font-face {
    font-family: 'Android';
    src: url('../fontes/idroid.otf') format(opentype);
    font-weight: normal;
}



* {
    margin: 0;
    padding: 0;
}

:root {
    --cor0: #D0D689;
    --cor1: #C7D533;
    --cor2: #A1AC29;
    --cor3: #7E8620;
    --cor4: #444911;
    --cor5: #1E2007;

    --fonte-padrão: Arial, Helvetica, sans-serif;
    --fonte-destaque: 'Bebas Neue', sans-serif;
    --fonte-android: 'Android', cursive;

}

body {
    background-color: var(--cor0);
    font-family: var(--fonte-padrão);
}

a.externo::after {
    content: '\00A0\1F517';
}

header {
    background-image: linear-gradient(to bottom, var(--cor3), var(--cor5));
    min-height: 150px;
    padding-top: 50px;
    text-align: center;
}

header > p {
    color: white;
    font-family: var(--fonte-padrão);
    font-size: 1.2em;
    max-width: 600px;
    padding: 0px 10px 40px 10px;
    margin: auto;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.226);
}

header > h1 {
    color: white;
    font-family: var(--fonte-destaque);
    padding-bottom: 30px;
    font-size: 3em;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.226);
    

}

nav {
    text-align: start;
    padding: 10px;
    box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.205);
}

nav > a {
    color: var(--cor2);
    text-decoration: none;
    padding: 10px;
    font-weight: bold;
    border-radius: 15px;
    transition-duration: 2s;
}

nav > a:hover {
    background-color: var(--cor3);
    color: var(--cor5);
}

main {
    min-width: 300px;
    max-width: 1000px;
    margin: auto;
    margin-bottom: 30px;
    padding: 20px;
    background-color: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.253);
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    
}

main  a {
    color: var(--cor5);
    text-decoration: none;
    font-weight: bold;
    background-color: var(--cor0);
    padding: 2px 6px;
}

main a:hover {
    text-decoration: underline;
    color: var(--cor3);
    transition-duration: 2s;
}

main h1 {
    color: var(--cor5);
    font-family: var(--fonte-android);
    font-size: 1.8em;
    font-weight: normal;
    
}

main h2 {
    font-family: var(--fonte-android);
    color: var(--cor4);
    background-image: linear-gradient(to right, var(--cor1),transparent);
    font-size: 1.3em;
    text-indent: 8px;
    font-weight: normal;
}

main h3.sem {
    font-family: var(--fonte-android);
    color: var(--cor4);
    font-size: 18px;
    padding-bottom: 20px;
    text-indent: 8px;
    font-weight: normal;

}

main img {
    width: 100%;
}

main img.p {
    max-width: 350px;
    display: block;
    margin: auto;
}

main p {
    margin: 15px 0px;
    text-align: justify;
    line-height: 2em;
    font-size: 1em;
    margin-bottom: 20px;
    text-indent: 30px;
}

main strong {
    color: var(--cor4);
}

article > ul {
            list-style-type: '\2714\00A0\00A0';
            list-style-position: inside;
            columns: 1;
            
}

footer {
    background-color: var(--cor5);
    text-align: center;
    font-size: 0.8em;
    padding: 5px;
}

footer a {
    padding: 0 5px;
    font-size: 20px;
    transition-duration: 2s;
}

footer a i {
    color: var(--cor0);
}

footer a:hover {
    color: var(--cor3);
    transform: scale(1.05s);
    
}

div.video {
    background-color: var(--cor4);
    margin: 0px -20px 30px -20px;
    padding: 20px;
    padding-bottom: 59%;
    position: relative;

}

div.video > iframe {
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
    
    
}

aside {
    background-color: var(--cor1);
    padding: 10px;
    border-radius: 10px;
    box-shadow: 3px 3px 8px 0px #0000004d;
}

aside > ul#ul {
    list-style-type: '\2714\00A0\00A';
    list-style-position: inside;
    columns: 2;
    font-size: 1em;
}

aside > ul {
    padding-left: 20px;
    padding-bottom: 10px;
    list-style-type: none;
    list-style-position: inside;
    columns: 1;
    font-size: 1em;
}


aside > h3 {
    background-color: var(--cor4);
    color: white;
    padding: 5px;
    margin: -10px -10px 0px -10px;
    border-radius: 10px 10px 0px 0px;
    font-family: var(--fonte-android);
    font-weight: normal;
}

aside p > a {
    background-color: var(--cor1);

}

aside  a.ul {
    background-color: var(--cor1);
    color: #545a11;
    padding: 3.5px;
    border-radius: 5px;
}

aside a.ul:hover {
    color: var(--cor5);
}

section{
    display: flex;
    align-items: center;
    justify-content: center;
}

.container{
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 4%;
}

form{
    background-color: #fff;
    max-width: 300px;
    height: 280px;
    padding: 40px;
    margin-bottom: 20px;
    margin-top: 20px;
    border-radius: 20px;
    box-shadow: -2px 2px 36px 2px rgba(0, 0, 0, 0.137);

}

.input-simples {
    position: relative;
    margin: 30px 0;
}

.input-simples label {
    position: absolute;
    left: 0;
    bottom: 5px;
    transition: all 0.3s;
    cursor: text;
    font-size: 14px;
    font-family: var(--fonte-android);
    color: var(--cor4);
}

.input{
    width: 98%;
    border: 0;
    border-bottom: 2px solid var(--cor0);
    padding: 5px;
    font-size: 16px;
    outline: none;
}

form .input-simples .input:focus ~ label,
form .input-simples .input:valid ~ label{
    transform: translateY(-24px);
    font-size: 11px;
    font-family: var(--fonte-android);
    color: var(--cor2);
}

.btn-enviar{
    width: 100%;
    text-align: center;
}

form input[type=submit]{
    text-align: center;
    padding: 10px 40px;
    border: none;
    border-radius: 10px;
    background-color: var(--cor3);
    font-family: var(--fonte-android);
    color: #fff;
    cursor: pointer;
}

div ul.icone {
    list-style-type: none;
    padding: 20px;
}

div ul.icone li {
    padding: 10px;
}

div ul.icone li a {
    background-color: white;
    font-weight: normal;
    font-size: 16px;
}

div ul.icone li i{
    font-size: 22px;
    color: var(--cor5);
}


@media screen and (max-width: 400px){

    aside > ul#ul {
        columns: 1;
        font-size: 17px;
    }

    main h3.sem {
        font-size: 16px;
        text-align: center;
    }

    .input-simples label {
        font-size: 12px;
    }
}